* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-areas: 
    'nav nav nav nav'
    'aside main main main'
    'aside main main main'
    'aside main main main'
    'aside main main main';
    width: 100%;
}

.nav-cont{
    grid-area: nav;
    width: 100%;
}

aside {
    grid-area: aside;
    width: 100%;
    background-color: aliceblue;
    height: 100%;
}

main {
    grid-area: main;
    width: 100%;
}

.code {
    background-color: rgb(34, 31, 31);
    padding: 1em 2em;
    margin-top: 1em;
}